.fix{
	height: 56px;
	width: 100px;
	display: block;
	position: relative;
}

.inbanner{
	width: auto;
	height: 10vw;
	display: block;
	background-color: lightblue;
	text-align: center;
}


.imgfix{
	height: 6vw;
}

.margen{
	margin-top: 4vw;
}

