.fix{
	height: 56px;
	width: 100px;
	display: block;
	position: relative;
}

.inbanner{
	width: auto;
	height: 10vw;
	display: block;
	background-color: blue;
	text-align: center;
}

.banner{
	background-color: green;
}

.imgfix{
	height: 6vw;
	
}