.fix{
	height: 56px;
	width: 100px;
	display: block;
	position: relative;
}

.banner{
	height: 120px;
	width: 80vw;
	display: block;
	position: relative;
	background-color: blue;
}

.inbanner{
	width: 15vw;
	height: 120px;
	display: inline-block;
	position: relative;
	background-color: green;
}